.__Traitement {
  background: rgba(37, 80, 125, 0.051);


@media (max-width: 600px) {
  .hHJTFD {
    margin: 0 !important;
  }
  .service-right {
    padding: 0 !important;
  }
}
@media (max-width: 1600px) {
  .traitement-text {
    h3 {
      font-size: 22px !important;
    }
  }
}


}